/*
Gruvbox
MIT License
https://github.com/morhetz/gruvbox
*/

.theme-dark.minimal-gruvbox-dark,
.theme-light.minimal-gruvbox-light {
	// --color-red-rgb: 204, 36, 29;
	// --color-orange-rgb: 214,93,14;
	// --color-yellow-rgb: 215,153,33;
	// --color-green-rgb: 152,151,26;
	// --color-cyan-rgb: 104,157,106;
	// --color-blue-rgb: 69,133,136;
	// --color-purple-rgb: 177,98,134;
	// --color-pink-rgb: 177,98,134;

	// --color-red:rgb(204, 36, 29);
	// --color-orange:#d65d0e;
	// --color-yellow:#d79921;
	// --color-green:#98971a;
	// --color-cyan:#689d6a;
	// --color-blue:#458588;
	// --color-purple:#b16286;
	// --color-pink:#b16286;

	--color-red-rgb: 160, 51, 47;
	--color-orange-rgb: 177, 95, 36;
	// --color-yellow-rgb: 215, 153, 33;
	--color-yellow-rgb: 193, 135, 35;
	--color-green-rgb: 152, 151, 26;
	--color-cyan-rgb: 104, 157, 106;
	--color-blue-rgb: 81, 121, 150;
	// --color-purple-rgb: 82, 74, 102;
	--color-purple-rgb: 104, 93, 132;
	--color-pink-rgb: 177, 98, 134;

	// --color-yellow: #d79921;
	// --color-yellow: rgb(193, 125, 35);
	// --color-blue: #5191c6;
	// --color-purple: #524a66;
  // --color-light-red: hsl(1, 46%, 52%);
	// --color-light-orange: hsl(25, 56%, 52%);
	// --color-light-yellow: hsl(38, 50%, 52%);
  // --color-light-green: hsl(65, 32%, 52%);
	// --color-light-blue: hsl(205, 15%, 52%);
	// --color-light-purple: hsl(257, 8%, 52%);

	--color-pink:#b16286;
	--color-teal:#689d6a;
	--color-cyan:#7daf9c;
	
  --color-red: hsl(2, 55%, 41%);
	--color-orange: hsl(25, 66%, 42%);
	--color-yellow: hsl(38, 69%, 45%);
	--color-green: hsl(60, 71%, 35%);
	--color-missing: hsl(130, 51%, 35%);
	--color-blue: hsl(205, 30%, 45%);
	--color-purple: hsl(257, 17%, 44%);

  --color-red: hsl(2, 50%, 41%);
	--color-orange: hsl(24, 60%, 42%);
	--color-yellow: hsl(39, 60%, 45%);
	--color-green: hsl(63, 70%, 35%);
	--color-missing: hsl(130, 50%, 35%);
	--color-blue: hsl(205, 30%, 45%);
	--color-purple: hsl(257, 17%, 44%);

  --color-text-red: hsl(1, 46%, 59%);
	--color-text-orange: hsl(25, 56%, 54%);
	--color-text-yellow: hsl(38, 50%, 54%);
  --color-text-green: hsl(65, 32%, 54%);
	--color-text-blue: hsl(205, 23%, 59%);
	--color-text-purple: hsl(257, 15%, 60%);

  // --color-hue-1: hsl(0, 50%, 50%);
  // --color-hue-2: hsl(36, 50%, 50%);
  // --color-hue-3: hsl(72, 50%, 50%);
  // --color-hue-4: hsl(108, 50%, 50%);
  // --color-hue-5: hsl(144, 50%, 50%);
  // --color-hue-6: hsl(180, 50%, 50%);
  // --color-hue-7: hsl(216, 50%, 50%);
  // --color-hue-8: hsl(252, 50%, 50%);
  // --color-hue-9: hsl(288, 50%, 50%);
  // --color-hue-10: hsl(324, 50%, 50%);

  // --color-rainbow-1: hsl(0, 50%, 50%);
  // --color-rainbow-2: hsl(60, 50%, 50%);
  // --color-rainbow-3: hsl(120, 50%, 50%);
  // --color-rainbow-4: hsl(180, 50%, 50%);
  // --color-rainbow-5: hsl(240, 50%, 50%);
  // --color-rainbow-6: hsl(300, 50%, 50%);

  // --color-even-1: hsl(0, 50%, 50%); // 30
  // --color-even-2: hsl(25, 50%, 50%); // 25
  // --color-even-3: hsl(50, 50%, 50%); // 25
  // --color-even-4: hsl(90, 50%, 50%); // 40
  // --color-even-5: hsl(170, 50%, 50%); // 80
  // --color-even-6: hsl(210, 50%, 50%); // 40
  // --color-even-7: hsl(240, 50%, 50%); // 30
  // --color-even-8: hsl(265, 50%, 50%); // 25
  // --color-even-9: hsl(330, 50%, 50%); // 60
}

.theme-light.minimal-gruvbox-light {
	--base-h:49;
	--base-s:92%;
	--base-l:89%;

	--accent-h:24;
	--accent-s:88%;
	--accent-l:45%;

	--bg1:#fcf2c7;
	--bg2:#f2e6bd;
	--bg3:#ebd9b3;

	--ui1:#ebdbb2;
	--ui2:#d5c4a1;
	--ui3:#bdae93;

	--tx1:#282828;
	--tx2:#7c7065;
	--tx3:#a89a85;

	--hl1:rgba(192,165,125,.3);
	--hl2:rgba(215,153,33,.4);
}

.theme-light.minimal-gruvbox-light.minimal-light-tonal {
	--bg2:#fcf2c7;
}
.theme-light.minimal-gruvbox-light.minimal-light-white {
	--bg3:#faf5d7;
	--ui1:#f2e6bd;
}
.theme-light.minimal-gruvbox-light.minimal-light-contrast .titlebar,
.theme-light.minimal-gruvbox-light.minimal-light-contrast.minimal-status-off .status-bar,
.theme-light.minimal-gruvbox-light.minimal-light-contrast .workspace-drawer.mod-left,
.theme-light.minimal-gruvbox-light.minimal-light-contrast .mod-left-split,
.theme-light.minimal-gruvbox-light.minimal-light-contrast .workspace-ribbon.mod-left:not(.is-collapsed),
.theme-dark.minimal-gruvbox-dark {
	--accent-h:24;
	--accent-s:88%;
	--accent-l:45%; 

	// --bg1:#251d19;
	// --bg2:#201816;
	// --bg3:#382b24;

	// --bg0: #1d1510;
	--bg1: #251d19; // this is the color for the regular writing text background.
	--bg2: #201816;
	--bg3: #39302b;

	--ui1:hsl(36, 54%, 17%);
	--ui2:hsl(35, 39%, 25%);
	--ui3:hsl(34, 30%, 34%);

	//original
	// --tx1:#fbf1c7;
	// --tx2:#bdae93;
	// --tx3:#7c6f64;
	
	//Birds of Paradise
	--tx1: #e6e1c4;
	// //preferred
	--tx1:hwb(42 55% 27%);
	--tx2:#918466;
	--tx3:#6b5f42;

	//higher contrast
	// --tx1:#e1d3b1;
	// --tx2:#aa9c7d;
	// --tx3:#75694c;

	--hl1:rgba(173,149,139,0.3);
	--hl2:rgba(215,153,33,.4);
	// --hl1:rgba(255, 0, 0, 0.5);
	// --hl2:rgba(255, 255, 0, 0.5);

  // --text-highlight-bg: var(--hl2) !important;
}
// .theme-dark.minimal-gruvbox-dark.minimal-dark-black {
// 	--hl1:rgba(173,149,139,0.4);
// 	--ui1:#282828;
// }
